{% extends 'BaseHandler.html' %}
{% block name %}Editing: {{vertex.name}}{% endblock %}
{% block content %}
<div class="vertices">
<h1 class="name"><a href="{{vertex.url}}">{{vertex.name}}</a></h1>
<form method="POST">
	<label for="name">Name</label>
	<input type="text" id="name" name="name" value="{{vertex.name}}" />
	<br /><label for="content">Content</label>
	<textarea name="content" id="content">{{vertex.content}}</textarea>
	<br /><input type="submit" value="Update">
</form>
</div>
{% endblock %}
