*{font-family:monospace; margin:0; padding:0;}
a {color:#4a5c7d; text-decoration:none;}
body {background:#e6e6e0;}
form {padding:15px 5px; height:270px; width:290px;}
h1 {margin:135px -120px 0 0; overflow:hidden; position:absolute; right:50%;
	transform:rotate(-90deg); white-space:nowrap; width:280px;
	-moz-transform:rotate(-90deg);}
input, p, textarea {background:#fff; border:1px solid #000; margin-left:10px;}
input {width:150px;}
input[type="submit"] {margin:10px 0 0 65px;}
label {display:block; float:left; width:60px;}
p {margin:5px -5px; padding:5px;}
textarea {width:270px; height:200px;}
.body {min-height:300px;}
.body, form, h1{background:#b9cecd; border:1px solid #000;}
.body, form {margin:5px; max-width:300px;}
.edit{background:#b9cecd; border:1px solid #000; float:left; margin:10px 5px 0;}
.vertices{margin-left:50%;}
