a {
  color: #000;
  text-decoration: none;
}
body, textarea, input {
  font: 13px sans-serif;
}
body, footer {
  font-size: 12px;
}
body {
  background: #eee;
  margin: 40px auto;
  max-width: 330px;
  text-align: right;
}
footer, nav {
  padding: 2px;
}
textarea {
  border: 0;
  min-height: 80px;
  padding: 5px;
  width: 100%;
}
input[type=button], input[type=submit] {
  position: relative;
}
input[type=password] {
  border: 0;
  float: left;
}
.note {
  background: #fff;
  box-shadow: 0 0 5px 0 #999;
  margin: 20px auto 0;
}
