a {
  color: #000;
  text-decoration: none;
}
body {
  background: #eee;
  font: 12px sans-serif;
  margin: 40px auto;
  max-width: 330px;
  text-align: right;
}
nav {
  padding: 2px;
}
textarea {
  min-height: 80px;
}
textarea {
  border: 0;
  padding: 5px;
  width: 100%;
}
input[type=button], input[type=submit] {
  position: relative;
}
input[type=password] {
  border: 0;
  float: left;
}
.note {
  background: #fff;
  box-shadow: 0 0 5px 0 #999;
  margin: 10px auto 20px;
}
