a {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 #999;
  color: #000;
  margin-left: 10px;
  padding: 2px;
  text-decoration: none;
}
body, textarea, input {
  font: 13px sans-serif;
}
body {
  background: #333 url("https://source.unsplash.com/category/objects?notebook") center/cover;
  font-size: 12px;
  margin: 40px auto;
  max-width: 300px;
  text-align: right;
}
form {
  margin: 10px auto 20px;
}
textarea {
  border: 0;
  min-height: 80px;
  padding: 5px;
  width: 100%;
}
input[type=button], input[type=submit] {
  position: relative;
}
.note {
  background: #fff;
  box-shadow: 0 0 5px 0 #999;
}
.note input[type=password], .note input[type=text] {
  border: 0;
  float: left;
}
