body {
  font-family: monospace;
  margin: 0;
  text-align: center;
}
input, table, .selected {
  box-shadow: 0 1px 3px #000;
}
table, tr, td {
  border-spacing: 0;
  margin: 0;
  padding: 0;
}
table {
  margin: 8px 0;
}
.image {
  opacity: .5;
}
ul {
  margin: 0;
  padding-left: 15px;
}
.breed, .catch {
  display: inline-block;
  text-align: left;
  padding-right: 5px;
}
.breed, .name {
  line-height: 29px;
}
.catch {
  font-size: small;
}
.err {
  color: red;
}
.id {
  float: left;
}
.image{
  background-image: url(pokedex.png);
  display: inline-block;
  height:30px;
  vertical-align: top;
  width:40px;
}
.name, .breed, .catch {
  background: white;
  box-shadow: 0 0 2px #000;
  margin: 5px;
  padding-left: 5px;
  vertical-align: bottom;
}
.name {
  font-weight: bold;
  padding-top: 5px;
}
.preview {
  float: right;
}
.selected {
  background: aliceblue;
  border-radius: 20px;
  box-sizing: border-box;
}
#boxes {
  display: inline-block;
  text-align: right;
  position: absolute;
  right: 50vw;
}
#info {
  bottom: 0;
  left: 50vw;
  overflow: scroll;
  padding: 10px;
  position: fixed;
  top: 44px;
  width: 320px;
  z-index: 1;
}
#query {
  left: 50vw;
  margin: 20px 8px 0;
  text-align: center;
  position: fixed;
  width: 150px;
  z-index: 1;
}
[data-filter=false] {
  display: none;
}
[data-capture=true] {
  opacity: 1;
}
@media (device-width: 320px) {
  .other {
    display: none;
  }
  .selected {
    box-shadow: initial;
  }
  #info {
    background: aliceblue;
    height: 215px;
    bottom: auto;
    left: 0;
    padding: 0;
    top: -215px;
  }
  #boxes {
    margin-top: 340px;
    right: 40px;
  }
  #query {
    left: 82.5px;
    margin: 20px 0;
  }
}
